.body{
    background-color:black;
}
.header{
    position: sticky;
    z-index: 1000;
    top: 0;
}
.netflexlogo{
    padding-left: 60px;
    margin-top: 30px;
    
}
.div1{
    margin-top: 60px;
    margin-left: 250px;
    margin-right: 400px;
    width: 600px;
    height: 600px;
    }
.sign{
    color:white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:120px;
    padding-top: 20px;
    font-weight: bold;
}
.email{
    margin-left:120px;
    margin-top: 10px;
    height: 30px;
    width: 250px;
    border-radius: 7px;
    color: white;
    border: none;
}
.password{
    margin-left:120px;
    margin-top:20px;
    height:30px ;
    width: 250px;
    border-radius: 7px;
}
.signup{
    margin-left: 120px;
    margin-top: 20px;
    background-color: red;
    width: 250px;
    height:32px;
    border: none;
    text-align: white;
    text-align: center;
    border-radius: 7px;
    

}
.signup::placeholder{
    color: white;
}
.or{
    color: gray;
    padding-left:220px;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
}
.code{
    margin-left:120px;
    width: 250px;
    height: 30px;
    border-radius: 7px;
    background-color: gray;
    color: white;
}
.code::placeholder{
    color: white;
    padding-left:60px;
    font-size: 15px;
}
.forget{
    color:white;
    padding-left:180px;
    font-family: Arial, Helvetica, sans-serif;
}
.rem1{
    color:white;
    padding-left:120px;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    }
.new{
    color: gray;
    padding-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.up{
    color: white;
}
.final{
    color: gray;
    padding-left: 120px;
    width: 400px;
}
.learn{
    color: blue;
}