.header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    margin-bottom:60px;
}
.div1{
    width:450px;
    margin-left:200px;
    height:25px;
    background-color:blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:150px;
    padding-top:1px;
    padding-bottom:20px;
    }
.set{
    padding-left: 200px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
}
.name{
    margin-left: 200px;
    width: 450px;
    height:30px;
    margin-bottom: 20px;
    border-radius:2px;
    border: 1px solid gray;
}
.visa{
    width:40px;
    height:50px;
    margin-left:200px;
    margin-top:-10px;
}
.amex{
    width:55px;
    height:56px;
    
}
.master{
    width:50pxpx;
    height:55px;
    padding-left:5px;
}