.body{
    background-color: black;
}
.netflexlogo{
    padding-left: 50px;
    padding-top:10px;
}
.div1{
    margin-left: 400px;
    margin-top:100px;
}
.edit{
    color: white;
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif;
}
.red{
    width:80px;
    height: 100px;
}
.div2{
    display: flex;
    gap: 30px;
    width:120px;
}
.text{
    width:330px;
    height: 25px;
    background-color:rgb(53, 51, 51);
    border: none;
}
.kid{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:6px;
}

.label{
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:-40px;
    display: block;
    margin-left:110px;
}
#lang{
    margin-left: 110px;
    margin-top: 5px;
    width: 100px;
    height: 25px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
.allowed{
    color: gray;
    padding-left: 110px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 5px;
}
#allow{
    margin-left: 110px;
    margin-top: 5px;
    width: 170px;
    height: 25px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    background-color: gray;
    width: 400px;
    margin-left: 0px;
    border: 0.1px solid rgb(12, 12, 12);
}
.checkbox{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: -20px;
    margin-top: 0px;
    }
.button{
    margin-top: 30px;
}
.save{
    width: 90px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
}
.cancel{
    width: 90px;
    height: 30px;
    margin-left: 20px;
    background-color: black;
    border: 1px solid gray;
    color: gray;

}
.delete{
    width: 180px;
    height: 30px;
    margin-left:20px ;
    background-color: black;
    border: 1px solid gray;
    color: gray;
}