.body{
    background-color: black;
}
.header{
    display: flex;
    gap: 30px;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: black;
}
.netflexlogo{
    width:100px;
    height:30px;
    padding-right: 90px;
    padding-left: 70px;
    padding-top: 20px;
}
.home,.tv,.movie,.original,.recent,.portfolio,.account{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.search{
    width: 28px;
    height: 28px;
    padding-top: 15px;
    padding-left: 300px;
    border: none;
    border-radius: 5px;
}
.div1{
    margin-left:70px;
    margin-top:70px;
}
.div1 p{
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.pic1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.div2,.div3,.div4,.div5{
    margin-top:100px;
}
.facebooklogo{
    width: 30px;
    height: 30px;
    margin-top:80px;
    border-radius: 5px;
    background-color: black;
    margin-left:100px;
}
.instalogo,.twitterlogo,.ytlogo{
    width:30px;
    height:30px;
    margin-top:80px;
    border-radius:5px;
    padding-left:20px;
}
.last{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin-right: 20px;
    width: 100%;
    
}
.last p{

    font-size: 15px;
    color: grey;
    font-weight: 100;
    padding-right:200px;
}
.invest{
    padding-left: 40px;
}
.terms{
    padding-left: 40px;
}
.legal{
    padding-left: 90px;
}
.contact{
    padding-left: 520px;
}
.last1{
    margin-left: 520px;
}
.last1 p{
    margin-left: 100px;
    margin-right: 20px;
    width: 100%;
    font-size: 15px;
    color:grey;
    font-weight:100;
}
.bell{
    width: 25px;
    height: 25px;
    padding-top:15px ;
    border-radius:0px;
    border: none;
}
.video{
    width: 600px;
    height: 300px;
    background-color: white;
    margin-left: 200px;
}
.audio,.pdf{
    margin-left: 200px;
}
.para{
    margin-top: 40px;
}
.aupara,.vidpara{
    color:white;
    font-size: 20px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:200px;
}
.vidpara,.pdf{
    margin-top:80px;
}
.tabl{
    border-collapse: collapse;
    border: 1px solid white;
    background-color:navy;
    border-color:lightsteelblue;
    width:40%;
    margin-left: 200px;
}
.th2,.td2{
    border: 1px solid white;
    color:white;
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.td2{
    font-weight: 100;
}
.home1{
    color:violet;
    cursor: pointer;
    text-decoration: underline;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 200px;
    margin-top: 70px;
}
.sig{
    width: 120px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    margin-right: 15px;

}

    
    

